<%-include('partials/header')-%>
    <div class="container" style="text-align: center;">
        <section id="about" class="my-container"> 
            <div class="container ">
                <h1>
                    About Me
                </h1>
                <div class="hr">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-lg-6 my-col col-md-12   ">
                        <img src="https://dvip1.github.io/cv/20220126_210852-01-01_edited_edited-modified.png"
                            alt="my-photo">
                    </div>
                    <div class="col-lg-6 my-col col-md-12  ">
                        <h3>I'm Dvip Patel</h3>
                        <br>
                        <div class="facts">
                            <p>-Web developer & designer</p>
                            <p>-Python developer</p>
                            <p>-Linux geek (love to change distros)</p>
                            <p>-Problem Solver</p>
                            <p>-Enginnering Student (sadly)</p>
                        </div>
                    </div>
                </div>
    
    </div>
<%-include('partials/footer')-%>
