
<%- include('partials/header') -%>
  <div class="container my-container">
    <h1>Login page</h1>
    <div class="forms container">
      <form action="/" method="post">
        <p>
          <label for="name"><i class="fa-solid fa-user fa-2x"></i>: </label>
          <input type="text" name="name" id="name" placeholder="UserName" required autofocus>
        </p>
        <p>
          <label for="password"><i class="fa-solid fa-lock fa-2x"></i>:</label>
          <input type="password" name="password" id="password" placeholder="password" required>
        </p>
        <button type="submit" class="btn btn-primary"> Submit</button>
        <a href="/signUp" style="display: block;" class="link">sign up instead </a>
      </form>
    </div>
  </div>
  <%- include('partials/footer') -%>