<%-include('partials/header')-%>
    <div class="container my-container">
        <h1>Privacy Policy</h1>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, omnis, nostrum vel repudiandae iusto minima
            quas
            debitis blanditiis enim excepturi, adipisci doloribus eum deserunt veritatis maxime nesciunt totam at!</p>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo corrupti iure sequi omnis natus laborum
            quia
            qui labore! Vel quasi laborum obcaecati ex deserunt ducimus ratione cum impedit, eos maxime.
            Vero maxime natus non architecto, ducimus </p>
        <p>
            modi necessitatibus tempora alias vel, repudiandae rerum obcaecati
            quas inventore? Fugit voluptatibus dicta maxime minus enim dolores porro. Quae animi accusamus temporibus
            facere
            illo!
        </p>

        <p> Maxime vitae ducimus sint nobis sequi doloremque voluptas vero, facilis, alias cupiditate ex molestiae
            tenetur
            culpa velit nisi. Illum hic quia, corrupti sequi nulla consequuntur porro! Cumque, accusantium repellendus.
            Sit.
            Eos autem nobis dignissimos assumenda ipsam quia, impedit molestiae consequuntur quae praesentium numquam
            inventore nisi quaerat at rem dicta. Maiores omnis sunt facere distinctio quae suscipit. Recusandae cum odio
            unde.
        </p>
    </div>
    <%-include('partials/footer')-%>