*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding:1rem  2rem;
    text-decoration: none;
}
.forms{
    margin: auto;
    text-align: center;
    padding: 5rem 2rem;
}
h1{
    font-size: 2rem;
    text-align: center;
}
button{
    border-radius: 15px;
}